.navbar-nav * {
	color: #1A008B;
}

.sm-visible {
	display: none;
}

.carousel {
	margin-bottom: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel .carousel-item {
	height: 200px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background: #03579E;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px 0px;
	width: 40px;
	height: 40px;
}

.carousel-control-next,
.carousel-control-prev {
	width: auto;
}

@media (min-width: 992px) {
	#main-carousel.carousel .carousel-item {
		height: 300px;
	}
	#main-carousel .carousel-item img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		min-height: 300px;
		transform: translateY(-30%);
	}
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	opacity: 0.4;
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.logo img {
	height: 120px;
}

.nav-item {
	padding: 0 7px;
}

.nav-item.active,
.nav-item:hover {
	background: #03579E;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px 0px;
}

.nav-item.active a,
.nav-item:hover a {
	color: #fff;
}

.gallery img {
	border-radius: 40px 0px;
}

.gallery img:hover {
	opacity: 0.7;
}

.contact .fa {
	padding-right: 10px;
}

.btn-primary {
	border-radius: 20px 0px;
	background-color: #1A008B;
	border-color: #1A008B;
}

img {
	border-radius: 40px 0px;
}

#main-carousel img {
	border-radius: 0;
}

@media (max-width: 992px) {
#testimonial.carousel .carousel-item{
height: 300px;
}
	.navbar {
		justify-content: flex-end;
	}
	.logo img {
		height: 80px;
	}
	.navbar-nav .nav-link {
		padding-left: 20px;
	}
	.navbar-nav.horizontal {
		flex-direction: row;
	}
	.navbar-toggler {
		order: 5;
		background: #03579E;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 20px 0px;
		color: #fff;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	.navbar-collapse {
		order: 6;
	}
	.navbar-toggler-icon {
		display: block;
		height: 100%;
		margin: 5px 0;
	}
	.sm-block {
		display: none;
	}
	.sm-visible {
		display: inherit;
	}
	.min-first-image .col-lg-5 {
		order: -1;
	}
}

#testimonial.carousel {
	box-shadow: none;
}

#testimonial .carousel-item {
	padding-left: 8%;
	padding-right: 8%;
}

#testimonial img {
	height: 60px;
	width: 60px;
	border-radius: 2.25rem;
	margin-right: 15px;
}

.section-title {
	position: relative;
}

.section-title h2 {
	color: #1d2025;
	position: relative;
	margin: 0;
	font-size: 24px;
}

@media (min-width: 768px) {
	.section-title h2 {
		font-size: 28px;
	}
}

@media (min-width: 992px) {
	.section-title h2 {
		font-size: 34px;
	}
}

.section-title.title-ex1 h2 {
	padding-bottom: 20px;
}

@media (min-width: 768px) {
	.section-title.title-ex1 h2 {
		padding-bottom: 30px;
	}
}

@media (min-width: 992px) {
	.section-title.title-ex1 h2 {
		padding-bottom: 40px;
	}
}

.section-title.title-ex1 h2:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 12px;
	width: 110px;
	height: 1px;
	background-color: #d6dbe2;
}

@media (min-width: 768px) {
	.section-title.title-ex1 h2:before {
		bottom: 17px;
	}
}

@media (min-width: 992px) {
	.section-title.title-ex1 h2:before {
		bottom: 25px;
	}
}

.section-title.title-ex1 h2:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 12px;
	width: 40px;
	height: 1px;
	background-color: #03579E;
}

@media (min-width: 768px) {
	.section-title.title-ex1 h2:after {
		bottom: 17px;
	}
}

@media (min-width: 992px) {
	.section-title.title-ex1 h2:after {
		bottom: 25px;
	}
}

.section-title.title-ex1.text-center h2:before {
	left: 50%;
	transform: translateX(-50%);
}

.section-title.title-ex1.text-center h2:after {
	left: 50%;
	transform: translateX(-50%);
}

.section-title.title-ex1.text-right h2:before {
	left: auto;
	right: 0;
}

.section-title.title-ex1.text-right h2:after {
	left: auto;
	right: 0;
}

.section-title.title-ex1 p {
	font-family: "Montserrat", sans-serif;
	color: #8b8e93;
	font-size: 14px;
	font-weight: 300;
}

.price-card {
	background: #f5f5f6;
	padding: 40px 35px;
	position: relative;
	border-radius: 2px;
	overflow: hidden;
}

.price-card:before {
	position: absolute;
	content: "";
	top: 0;
	right: -35px;
	width: 88px;
	height: 88px;
	background: #03579E;
	opacity: 0.2;
	border-radius: 8px;
	transform: rotate(45deg);
}

.price-card:after {
	position: absolute;
	content: "";
	top: 30px;
	right: -35px;
	width: 88px;
	height: 88px;
	background: #03579E;
	opacity: 0.2;
	border-radius: 8px;
	transform: rotate(45deg);
}

.price-card h2 {
	font-size: 26px;
	font-weight: 600;
}

.price-card.featured {
	background: #fff;
	border: 1px solid #ebebeb;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.price-card:hover .btn {
	background: #03579E;
	border-color: #03579E;
}

p.price span {
	display: inline-block;
	padding: 45px 15px 50px;
	padding-right: 0;
	font-size: 50px;
	font-weight: 600;
	color: #03579E;
	position: relative;
}

p.price span:before {
	position: absolute;
	content: "₴";
	font-size: 16px;
	top: 25px;
	font-weight: 300;
	left: 0;
}

.pricing-offers {
	padding: 0 0 10px;
}

.pricing-offers li {
	padding: 0 0 16px;
	line-height: 18px;
}

ul li {
	list-style-type: none;
}

.btn.btn-mid {
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
}


button a{
color:inherit;
}
button a:hover{
color:inherit;
text-decoration:none;
}




