body {
  width: 100%;
}

.rhymes_times{
  font-family: 'Times New Roman';
  font-style: italic;
  font-size: 32px;
}

.rhymes_google{
  font-family: 'Marck Script', cursive;
  font-size: 24px;
}

.rhymes_arial{
  font-family: Arial;
  font-size: 24px;
}


.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
